<?xml version="1.0" ?>
<model>
    <name>wohnung</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Roberto Zegers</name>
        <email>rzegers@uc.cl</email>
    </author>
    <description> Detailed interior design of an apartment. Features: living room/dinning, kitchen, wc, two bedrooms </description>
</model>
